@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
}

.tbounce {
    position: relative;
    animation: bounce 0.4s infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-4px);
    }
    100% {
        transform: translateY(0);
    }
}